  @font-face {
    font-family: 'Robotoblack';
    src :url('images/fonts/Roboto-Black.ttf') format('truetype');
    }

    @font-face {
    font-family: 'Robotoblackitalic';
    src :url('images/fonts/Roboto-BlackItalic.ttf') format('truetype');
    }

    @font-face {
    font-family: 'Robotobold';
    src :url('images/fonts/Roboto-Bold.ttf') format('truetype');
    }

    @font-face {
    font-family: 'Robotobolditalic';
    src :url('images/fonts/Roboto-BoldItalic.ttf') format('truetype');
    }

    @font-face {
    font-family: 'Robotoitalic';
    src :url('images/fonts/Roboto-Italic.ttf') format('truetype');
    }

    @font-face {
    font-family: 'Robotolight';
    src :url('images/fonts/Roboto-Light.ttf') format('truetype');
    }

    @font-face {
    font-family: 'Robotolightitalic';
    src :url('images/fonts/Roboto-LightItalic.ttf') format('truetype');
    }

    @font-face {
    font-family: 'Robotomedium';
    src :url('images/fonts/Roboto-Medium.ttf') format('truetype');
    }

    @font-face {
    font-family: 'Robotomediumitalic';
    src :url('images/fonts/Roboto-MediumItalic.ttf') format('truetype');
    }

    @font-face {
    font-family: 'Robotoregular';
    src :url('images/fonts/Roboto-Regular.ttf') format('truetype');
    }

    @font-face {
    font-family: 'Robotothin';
    src :url('images/fonts/Roboto-Thin.ttf') format('truetype');
    }

    @font-face {
    font-family: 'Robotothinitalic';
    src :url('images/fonts/Roboto-ThinItalic.ttf') format('truetype');
    }


body
{
  max-width: 1920px;
  margin: auto;
  font-family: 'Robotoblack', sans-serif;
}

main
{
  padding-top: 120px;
}

i
{
  color: rgb(92, 173, 211);
  font-size: 3.5em;
  border-style: solid;
  border-width: thin;
  border-color: grey;
  border-radius: 50%;
  margin-top: 20px;
}

a
{
  color: black;
  text-decoration: none;
}

h1
{
  font-size: 2.9em;
}

h2
{
  font-size: 2.9em;
  text-align: center;
}

header
{
  padding: 25px 190px;
  height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  background-color: white;
  box-sizing: border-box;
  align-items: center;
}

      .logo
      {
        width: 261px;
        height: 57px;
      }

      ul
      {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        font-family: 'Robotolight';
      }

            li
            {
              margin-left: 30px;
            }

.main
{
  background-color: red;
  position: relative;
}
      .main img
      {
        width: 100%;
      }

      .webagency
      {
        background-color: ;
        width: 800px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 190px;
        color: white;
      }

            .color
            {
              color: rgb(92, 173, 211);
            }

            .bouton
            {
              background-color: rgb(92, 173, 211);      /* ombre bot : rgb(68, 148, 187); le gris du nav est 122 122 122 et noir 85 85 85 */
              width: 160px;
              height: 60px;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 4px;
              margin-bottom: 38.512px;
            }

                /* .ombre
                {
                  background-color: rgb(68, 148, 187);
                  width: 100%;
                  height: 3px;
                } */

                .bouton p
                {
                  color: white;
                  font-size: 1.3em;
                }


.headerservices
{
  padding-top: 120px;
}


/* {
  text-align: center;
} */

      .services
      {
        padding-top: 80px;
        display: flex;
      }

            .mac
            {
              height: 530px;
              width: 50%;
              background-color: grey;
              display: flex;
            }

                  .mac img
                  {
                    width: 70%;
                    margin: auto;
                  }

            .bloc_description
            {
              width: 50%;
              background-color: purple;
              display: flex;
              flex-direction: column;
              justify-content: flex-end;
            }

                  .description
                  {
                    background-color: green;
                    display: flex;
                    align-items: flex-start;  /* test */
                    /* flex-direction: row; */
                  }

                        .ico
                        {
                          margin: 0 30px;
                          background-color: yellow;
                        }

                        .description_text
                        {
                          display: flex;
                          flex-direction: column;
                        }
