  @font-face {
    font-family: 'Robotoblack';
    src :url('images/fonts/Roboto-Black.ttf') format('truetype');
    }

    @font-face {
    font-family: 'Robotoblackitalic';
    src :url('images/fonts/Roboto-BlackItalic.ttf') format('truetype');
    }

    @font-face {
    font-family: 'Robotobold';
    src :url('images/fonts/Roboto-Bold.ttf') format('truetype');
    }

    @font-face {
    font-family: 'Robotobolditalic';
    src :url('images/fonts/Roboto-BoldItalic.ttf') format('truetype');
    }

    @font-face {
    font-family: 'Robotoitalic';
    src :url('images/fonts/Roboto-Italic.ttf') format('truetype');
    }

    @font-face {
    font-family: 'Robotolight';
    src :url('images/fonts/Roboto-Light.ttf') format('truetype');
    }

    @font-face {
    font-family: 'Robotolightitalic';
    src :url('images/fonts/Roboto-LightItalic.ttf') format('truetype');
    }

    @font-face {
    font-family: 'Robotomedium';
    src :url('images/fonts/Roboto-Medium.ttf') format('truetype');
    }

    @font-face {
    font-family: 'Robotomediumitalic';
    src :url('images/fonts/Roboto-MediumItalic.ttf') format('truetype');
    }

    @font-face {
    font-family: 'Robotoregular';
    src :url('images/fonts/Roboto-Regular.ttf') format('truetype');
    }

    @font-face {
    font-family: 'Robotothin';
    src :url('images/fonts/Roboto-Thin.ttf') format('truetype');
    }

    @font-face {
    font-family: 'Robotothinitalic';
    src :url('images/fonts/Roboto-ThinItalic.ttf') format('truetype');
    }


body
{
  max-width: 1920px;
  margin: auto;
  font-family: 'Robotoblack', sans-serif;
}

main, .headerservices, .portfolio
{
  padding-top: 120px;
}

.headerservices
{
  margin-top: 20px;
}

a
{
  color: black;
  text-decoration: none;
}

h1
{
  font-size: 2.9em;
}

h2
{
  color: #272727;
}

.headerservices h2, .portfolio h2
{
  font-size: 4.3em;
  margin: 20px 0;
  text-align: center;
}

.headerservices p, .portfolio p, .contact p, .pannel
{
 color: #686C71;
}

header
{
  padding: 25px 190px;
  height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  background-color: white;
  box-sizing: border-box;
  align-items: center;
}

      .logo
      {
        width: 261px;
        height: 57px;
      }

      ul
      {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        font-family: 'Robotolight';
      }

            li
            {
              margin-left: 30px;
            }

.main
{
  /* background-color: red; */
  position: relative;
}
      .main img
      {
        width: 100%;
      }

      .webagency
      {
        background-color: ;
        width: 800px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 190px;
        color: white;
      }

            .color
            {
              color: rgb(92, 173, 211);
            }

            .bouton
            {
              background-color: rgb(92, 173, 211);      /* ombre bot : rgb(68, 148, 187); le gris du nav est 122 122 122 et noir 85 85 85 */
              width: 160px;
              height: 60px;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 4px;
              margin-bottom: 38.512px;
            }

                /* .ombre
                {
                  background-color: rgb(68, 148, 187);
                  width: 100%;
                  height: 3px;
                } */

                .bouton p
                {
                  color: white;
                  font-size: 1.3em;
                }

.headerservices > p, .portfolio > p
{
  text-align: center;
  font-size: 1.3em;
  font-family: Robotomedium;
}

/* {
  text-align: center;
} */

      .services
      {
        display: flex;
        margin-bottom: 100px;
        /* padding-top: 150px; */
      }

            .linestyle
            {
              display: flex;
              flex-direction: column;
              align-items: center;
            }

                  .line
                  {
                    width: 220px;
                    height: 1px;
                    background-color: rgb(229,229,229);
                    position: absolute;
                  }

                  .linestyle_cercle
                  {
                    color: rgb(92, 173, 211);
                    background-color: white;
                    border-style: solid;
                    border-color: white;
                    border-radius: 50%;
                    position: relative;
                    top: -17px;
                    font-size: 1.1em;
                    padding: 5px;
                  }

            .mac
            {
              height: 530px;
              width: 50%;
              /* background-color: grey; */
              display: flex;
            }

                  .mac img
                  {
                    width: 70%;
                    margin: auto;
                  }

            .bloc_description
            {
              width: 50%;
              /* background-color: purple; */
              display: flex;
              flex-direction: column;
              justify-content: flex-end;
            }

                  .description
                  {
                    /* background-color: green; */
                    display: flex;
                    padding-bottom: 20px;
                    align-items: flex-start;
                  }

                        .ico
                        {
                          margin: 0 30px;
                          /* position: absolute; */
                          /* background-color: yellow; */
                        }

                              .ico i
                              {
                                color: rgb(92, 173, 211);
                                font-size: 2.6em;
                                border-style: solid;
                                border-width: 2px;
                                border-color: rgb(229,229,229);
                                border-radius: 50%;
                                padding: 17px;
                                margin-top: 10px;
                                width: 43.2px;
                                height: 43.2px;
                              }

                              .cercle
                              {
                                position: absolute;
                                border: 15px;
                              }

                              .cercle i
                              {
                                color: rgb(92, 173, 211);
                                background-color: white;
                                border-style: solid;
                                border-color: white;
                                border-radius: 50%;
                                position: relative;
                                top: 37px;
                                left: 96px;
                                font-size: 0.9em;
                                padding: 3px;
                              }

                        .description_text
                        {
                          display: flex;
                          flex-direction: column;
                        }

                        .description_text h3
                        {
                          font-size: 1.5em;
                          margin: 10px 0;  /* valeur = margin i */
                        }

                        .description_text > p
                        {
                          margin-top: 0;
                          margin-bottom: 10px;
                        }


/* ====================================================================================             MAQUETTE 3               ==================================================================================================== */
.pannel
{
  display: flex;
  justify-content: center;
}

.pannel_left, .pannel_center, .pannel_right
{
  display: flex;
  background-color: rgb(229,229,229);
  margin: 60px 0;
  padding: 0 25px;
}

.pannel_left
{
  border-radius: 7px 0 0 7px;
}
.pannel_right
{
  border-radius: 0 7px 7px 0;
}

.pannel h3
{
  /* margin: 10px; */
  font-family: Robotoregular;
  font-size: 1.3em;
}

.pannel_left:hover, .pannel_center:hover, .pannel_right:hover
{
  background-color: rgb(92, 173, 211);
  color: white;
}

.hover_arrow
{
  position: relative;

}

.hover_arrow div
{
  width: 116.6px;
  height: 5px;
  background-color: #468CAD;
}

.hover_arrow i
{
  color: #468CAD;
  font-size: 2em;
  position: relative;
  top: -13px;
  left: 48.3px;
}

.allprojects
{
  margin: 0 60px;
  display: flex;
  flex-wrap: wrap;
}

.portfolio_img
{
  width: 400px;
  height: 267px;
  margin: 20px;
}

.portfolio_img img
{
  width: 100%;
}

.bandeau
{
  opacity: 0;
  position: relative;
  bottom: 107px;
  background-color: rgba(0,0,0,.7);
  height: 87px;
}

.hidden_bandeau
{
  /* height: 180px; */
}

.bandeau p
{
  padding-left: 15px;
  color: white;
  font-family: Robotoregular;
}

.bandeau p:first-child
{
  padding-top: 15px;
  font-family: Robotoblack;
}

.bandeau:hover
{
  opacity: 1;
}

.ico_eye
{
  position: relative;
  bottom: 110px;
  left: 330px;
}

.ico_eye i
{

  color: white;
  border-style: solid;
  border-radius: 50%;
  border-color: white;
  background-color: rgb(92, 173, 211);
  padding: 15px;
}


/* ========================================================================================================   MAQUETTE 4   =============================================================================================================== */

.map img
{
  width: 100%;
}
